<div id="<%= dom_id photography %>">
  <p>
    <strong>Photo:</strong>
    <%= photography.photo %>
    <%= image_tag photography.images[0] %>
    <%#= image_tag photography.user.images[0].url %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= photography.content %>
  </p>

  <%# <p> %>
    <%# <strong>User:</strong> %>
    <%#= photography.user_id %>
    <%# <%= photography.user_id %> 
  <%# </p> %>

</div>
