<p style="color: green"><%= notice %></p>

<%= render @photography %>

<div>
  <%= link_to "Edit this photography", edit_photography_path(@photography) %> |
  <%= link_to "Back to photographies", photographies_path %>

  <%= button_to "Destroy this photography", @photography, method: :delete %>
</div>

<h2>Comments</h2>
<%= render 'comments/photography_comments' %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>